.cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
    min-height: calc(100vh - 136px);
}

.Continuar{
    animation: constant-jump 2000ms cubic-bezier(0.86, 0, 0.07, 1) reverse both infinite;
    background-color: rgb(255, 86, 125) !important;
    color: white !important;
    padding: 0 20px;
    gap: 10px;
    width: fit-content  !important;
    text-decoration: none;
    transition: all 250ms cubic-bezier(0.23, 1, 0.4, 1.4);
}
.Continuar:hover{
    background-color: rgb(252, 0, 130);
    box-shadow: 0px 0px 40px rgba(252, 0, 130, 0.5);
    transform: scale(1.1)
}
@keyframes constant-jump {
    0% {
      transform: scale(1);
    } 70% {
      transform: scale(1);
    } to {
      transform: scale(1.1);
    }
}

.Atras{
    animation: none;
    background-color: white !important;
    color: rgb(76, 12, 45) !important;
    transition: all 250ms cubic-bezier(0.5, 0.5, 0.5, 0.5)
}
.Atras:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transform: scale(1);
    background-color: rgba(252, 0, 130, 0.3) !important;
}

input{
    width: 100%;
    max-width: 400px;
    border-style: none;
    height: 48px;
    border-radius: 99px;
    padding: 0 20px;
    align-self: center;
    font-size: 20px;
}

textarea{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    width: 100%;
    max-width: 400px;
    border-style: none;
    height: 100%;
    border-radius: 24px;
    padding: 20px 20px;
    align-self: center;
    resize: none;
}

h3{
    font-family: "Pacifico", cursive;
    margin-bottom: 10px;
    margin-top: 30px;
}
h1{padding: 0;}

.chooser{
    align-self: center;
    display: flex;
    width: 100%;
    gap: 2px;
    max-width: 440px;
    overflow: hidden;
    border-radius: 99px;
}

.chooser_opt{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    background-color: white;
    transition-duration: 250ms;
}

.chooser_opt:hover{background-color: rgba(252, 0, 130, 0.3);}

.rango{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: center;
    width: 100%;
    max-width: 450px;
}

.slider{width: 100%;}

input[type="range"]{
    accent-color: rgb(252, 0, 130);
    height: 14px;
    margin: 0;
    padding: 0;
}

datalist {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col{
    width: 100%;
    max-width: 450px;
    justify-content: center;
    min-height: 100%;
}

.row{
    height: 100%;
    justify-content: center;
    gap: 20px;
}



.example_pic>img{
    width: 240px;
    height: 240px;
}
.example_pic>div>img{
    width: 240px;
    height: 240px;
}
.example_pic{
    position: relative;
    background-color: white;
    width: 240px;
    height: 240px;
    padding: 10px;
    padding-bottom: 40px;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.2);
    box-shadow: 0px 0px 20px rgba(252, 0, 130, 0.3);
}

.example_pic:hover{
    transform: rotate(10deg) scale(1.1);
    box-shadow: 0px 0px 40px rgba(252, 0, 130, 0.5);
}

.pic_1_icon{
    width: 120px !important;
    height: 120px !important;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.pic_1{transform: rotate(5deg) scale(1.3); z-index: 99;}
.pic_1:hover{transform: rotate(-2deg) scale(1.4);}

.pic_2{transform: rotate(-3deg) scale(1.1) translate(20px, 0); z-index: 98;}
.pic_2:hover{transform: rotate(2deg) scale(1.2) translate(-15px, 0);}

.pic_4{transform: rotate(2deg) scale(1.1) translate(-0px, 0); z-index: 97;}
.pic_4:hover{transform: rotate(-4deg) scale(1.2) translate(15px, 0);}

.pic_3{transform: rotate(2deg) translate(100px, 0); z-index: 96;}
.pic_3:hover{transform: rotate(-3deg) scale(1.1)  translate(30px, 0);}

.pic_5{transform: rotate(-1deg) translate(-100px, 0); z-index: 95;}
.pic_5:hover{transform: rotate(1deg) scale(1.1) translate(-30px, 0);}


