/*-----INICIO-----*/
body{display: flex;}

.lados{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mainimg{
    display: flex;
    height: calc(100vh - 80px);
    min-width: calc(56.25vh - 35px);
    max-width: calc(56.25vh - 35px);
    border-radius: 28px;
    background-color: rgba(252, 0, 130, 0.3);
    box-shadow: 0px 0px 40px rgba(252, 0, 130, 0.5);
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 20px;
    margin-right: 20px;
}
.mainimg>img{
    height: 100%;
}


/*izq*/
.izq{text-align: end;}
.inf{
    text-align: end;
    line-height: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.izq>div>img{width: 28px;}


/*-----HEADER-----*/
.header>div{min-height: 56px;display: flex; align-items: center;}
.header{height: 100%;}
.navbar{
    position: absolute;
    right: 40px;
    top: 40px;
}


/*-----BOTONES-----*/
.btn{
    position: absolute;
    height: 100vh;
    width: 35%;
    top: 0;
}
.btn_bck{
    position: absolute;
    opacity: 0;
    height: 100%;
    top: 0;
    width: 0;
    z-index: -1;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.1);
}
.btn:hover>.btn_bck{
    width: 100%;
    opacity: 1;
}
.btn>div>img{
    height: 24px;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.1);
}
.btn_circle{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.1);
}
.btn:hover>.btn_circle{
    opacity: 1;
    height: 280px;
    width: 280px;
}
.btn:hover>div>img{height: 240px;}



.pass_circle{background-color: rgb(218, 8, 39);}
.pass_bck{background: linear-gradient(90deg,rgba(218, 8, 39, 0.5) 0%, rgba(218, 8, 39, 0) 100%);left: 0;}
.pass_btn{left: 0;}

.smash_circle{background-color: rgb(20, 187, 92);}
.smash_bck{background: linear-gradient(90deg,rgba(20, 187, 92, 0) 0%, rgba(20, 187, 92, 0.5) 100%);right: 0;}
.smash_btn{right: 0;}