@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico.ttf) format('truetype');
}

@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit.ttf) format('truetype');
}


/*-----MAIN-----*/
body{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    background-color: rgb(250, 219, 231);
    color: rgb(76, 12, 45);
    margin: 40px;
    display: flex;
    line-height: 1.4;
}

.lados{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mainimg{
    display: flex;
    height: calc(100vh - 80px);
    min-width: calc(56.25vh - 35px);
    max-width: calc(56.25vh - 35px);
    border-radius: 28px;
    background-color: rgba(252, 0, 130, 0.5);
    box-shadow: 0px 0px 40px rgba(252, 0, 130, 0.5);
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 20px;
    margin-right: 20px;
}
.mainimg>img{
    height: 100%;
}


/*izq*/
.izq{text-align: end;}
.inf{
    text-align: end;
    line-height: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.izq>div>img{width: 28px;}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    margin: 0;
    padding-right: 10px;
}


/*-----HEADER-----*/
.header{height: 100%;}
h2{
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    text-align: start;
}
.navbar>a{
    display: flex;
    border-style: solid;
    border-color: rgb(250, 219, 231);
    border-width: 4px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    transition-duration: 250ms;
    z-index: 99;
}
.navbar>a:hover{background-color: rgb(255, 86, 125);}
.navbar{
    display: flex;
    justify-content: end;
    padding: 0;
    z-index: 99;
}



/*-----BOTONES-----*/
.btn{
    position: absolute;
    height: 100vh;
    width: 35%;
    top: 0;
}
.btn_bck{
    position: absolute;
    opacity: 0;
    height: 100%;
    top: 0;
    width: 0;
    z-index: -1;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.1);
}
.btn:hover>.btn_bck{
    width: 100%;
    opacity: 1;
}
.btn>div>img{
    height: 24px;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.1);
}
.btn_circle{
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    transition: all 250ms cubic-bezier(0.23, 1, 0.5, 1.1);
}
.btn:hover>.btn_circle{
    opacity: 1;
    height: 280px;
    width: 280px;
}
.btn:hover>div>img{height: 240px;}



.pass_circle{background-color: rgb(218, 8, 39);}
.pass_bck{background: linear-gradient(90deg,rgba(218, 8, 39, 0.5) 0%, rgba(218, 8, 39, 0) 100%);left: 0;}
.pass_btn{left: 0;}

.smash_circle{background-color: rgb(20, 187, 92);}
.smash_bck{background: linear-gradient(90deg,rgba(20, 187, 92, 0) 0%, rgba(20, 187, 92, 0.5) 100%);right: 0;}
.smash_btn{right: 0;}